/* You can add global styles to this file, and also import other style files */
body{
    font-family: Arial, Helvetica, sans-serif;
}

th, td {
    width: 100px;
}

th {
    text-align: left;
}

a {
    text-decoration: none;
}

.perficient-red {
    color: rgb(247, 14, 14)
}