/* You can add global styles to this file, and also import other style files */
body{
    font-family: Arial, Helvetica, sans-serif;padding-left: 20px;
    background-color: #f9fafc;
}

th, td {
    width: 100px;
}

th {
    text-align: left;
}

td {
    border-bottom: 1px solid lightgray;
}

a {
    text-decoration: none;
    margin-right: 25px;;
}

nav {
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

input {
    width: 200px;
}

select {
    width: 200px;
}

button {
    margin-top: 20px;
    background-color: rgb(247, 14, 14);
    border: none;
    color: white;
    border-radius: 3px;
    height: 20px;
}

.large-btn {
    width: 200px;
}

.delete-btn {
    margin-bottom: 10px;
}

.perficient-red {
    color: rgb(247, 14, 14);
}

.employee-form-container {
    display: flex;
    flex-direction: row;
}
.employee-fields-container {
    display: flex;
    flex-direction: column;
}

.skills-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}